language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

# environment
env:
  - DJANGO=2.0.*

branches:
  only:
    - master

# command to run tests
script:
  - python manage.py test
